/node_modules
/.env.local
/.umirc.local.ts
/config/config.local.ts
/src/.umi
/src/.umi-production
/src/.umi-test
/dist
.swc
/.idea/.gitignore
/.npmrc
/.idea/btc-l2-web3-interface.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/prettier.xml
/.idea/vcs.xml
/.idea/watcherTasks.xml

